*{ text-decoration:none; list-style:none; margin:0px; padding:0px;}
img{max-width:100%;}
.switch { position: relative;display: inline-block;width: 60px; height: 34px;}
.switch input {opacity: 0;width: 0;height: 0;}

.slider {  position: absolute;cursor: pointer;top: 0; left: 0;right: 0; bottom: 0;
  background-color: #ccc;-webkit-transition: .4s;transition: .4s;}

.slider:before { position: absolute;content: ""; height: 26px;width: 26px;left: 4px;
  bottom: 4px;background-color: white;-webkit-transition: .4s;transition: .4s;}

input:checked + .slider {background-color: #2196F3;}

input:focus + .slider {box-shadow: 0 0 1px #2196F3;}

input:checked + .slider:before {-webkit-transform: translateX(26px);-ms-transform: translateX(26px);transform: translateX(26px);}

/* Rounded sliders */
.slider.round {border-radius: 34px;}

.slider.round:before {border-radius: 50%;}
.button_next {text-align: center;}
.button_next a {background-image: linear-gradient(to right, #0680f2, #0680f2, #7569f7 );padding: 10px 46px;border-radius: 20px;color: #fff;text-transform: uppercase;}
.iplaning p {color: #767373;font-size: 16px;}
.Delivery_sec { float: left;width: 100%;}


.form-section
{
	width:100%;
	background:#447cf2;
	float:left;
}
/*custom font*/

@import url(http://fonts.googleapis.com/css?family=Montserrat);
/*basic reset*/
* {
margin: 0;
padding: 0;
}
html {
height: 100%;

}
body {
font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
max-width: 800px;
width:100%;
margin: 50px auto;
position: relative;
background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
}
#msform h2.fs-title
{
	text-align:center;
	margin-bottom:50px;
	text-transform:uppercase;
	font-size: 25px;
    line-height: 32px;
}
h2.fs-title-secondsection
{
text-align:center;
	margin-bottom:10px;
	text-transform:uppercase;
	font-size: 25px;
    line-height: 32px;	
	color:#000;
}

.form-group .my-self
{
	color:#447cf2;
	width: 80px;
    display: inline-block;
}
.form-group .someone
{
	color:#447cf2;
	width: 104px;
    display: inline-block;
	margin-left:10px;
}
.form-group .someone1
{
	color:#447cf2;
	width: 135px;
    display: inline-block;
	margin-left:10px;
}
.form-group {
    margin-bottom: 15px;
    width: 100%;
    float: left;
	text-align:left;
}
.form-group label.text-info
{
	    color: #000 !important;
	    font-weight: normal;
}
.form-group .simple-input
{
border-bottom:1px solid #ccc !important;
border-top:0px;
border-left:0px;
border-right:0px;
height: 30px;
color:#447cf2;
border-radius:0px !important;
}
input:not([type="submit"]):not([type="button"]):not(.submit):not(.button):not(.extenal-bdcl)
{
	    border-color: #ccc !important; 
}
.form-group .simple-input:focus
{
border-bottom:1px solid #ccc !important;	
}
.form-group input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#447cf2;
}

.form-group input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#447cf2;
}

.form-group input::-ms-input-placeholder { /* Microsoft Edge */
  color:#447cf2;
}
  .form-group select
  {  border-bottom: 1px solid #ccc;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background: none;
    width: 100%;
    height: 30px;
	color:#447cf2;
	border-radius:0px;
	-webkit-appearance: menulist;
	appearance: menulist;
	padding:0px;
	
  }
#msform .form-group label
{
	text-align:left;
}
#msform fieldset {
box-sizing: border-box;
width: 100%;
margin: 0 0%;
    padding: 0px 67px;
	text-align:center;
    border: none;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
display: none;
}
/*inputs*/
#msform input, #msform textarea {
padding: 0px 0px;
width: 100%;
box-sizing: border-box;
font-family: montserrat;
}

/*buttons*/
#msform .action-button {
width: auto;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#447cf2+0,2989d8+37,7169f6+60,7169f6+100 */
background: #447cf2; /* Old browsers */
background: -moz-linear-gradient(left,  #447cf2 0%, #2989d8 37%, #7169f6 60%, #7169f6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #447cf2 0%,#2989d8 37%,#7169f6 60%,#7169f6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #447cf2 0%,#2989d8 37%,#7169f6 60%,#7169f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#447cf2', endColorstr='#7169f6',GradientType=1 ); /* IE6-9 */

font-weight: bold;
color: white;
border: 0 none;
border-radius: 30px;
cursor: pointer;
padding: 14px 57px;
    margin: 10px 0px;
    font-size: 21px;
    text-transform: uppercase;
	height:auto;
}
#msform .action-button:hover, #msform .action-button:focus {

} 
#msform .action-button-second-back
{
	width: auto;
color:#ccc;	
float:left;
font-weight: bold;
border: 0 none;
border-radius: 30px;
cursor: pointer;
padding: 14px 57px;
    margin: 10px 0px;
    font-size: 21px;
    text-transform: uppercase;
	height:auto;
}
#msform .action-button-second-next
{
width: auto;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#447cf2+0,2989d8+37,7169f6+60,7169f6+100 */
background: #447cf2; /* Old browsers */
background: -moz-linear-gradient(left,  #447cf2 0%, #2989d8 37%, #7169f6 60%, #7169f6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #447cf2 0%,#2989d8 37%,#7169f6 60%,#7169f6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #447cf2 0%,#2989d8 37%,#7169f6 60%,#7169f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#447cf2', endColorstr='#7169f6',GradientType=1 ); /* IE6-9 */

font-weight: bold;
color: white;
border: 0 none;
border-radius: 30px;
cursor: pointer;
padding: 14px 57px;
    margin: 10px 0px;
    font-size: 21px;
    text-transform: uppercase;
	height:auto;
float:right;	
}
#msform .action-button-second-next-submit
{
width: auto;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#447cf2+0,2989d8+37,7169f6+60,7169f6+100 */
background: #447cf2; /* Old browsers */
background: -moz-linear-gradient(left,  #447cf2 0%, #2989d8 37%, #7169f6 60%, #7169f6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #447cf2 0%,#2989d8 37%,#7169f6 60%,#7169f6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #447cf2 0%,#2989d8 37%,#7169f6 60%,#7169f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#447cf2', endColorstr='#7169f6',GradientType=1 ); /* IE6-9 */

font-weight: bold;
color: white;
border: 0 none;
border-radius: 30px;
cursor: pointer;
padding: 14px 57px;
    margin: 10px 0px;
    font-size: 21px;
    text-transform: uppercase;
	height:auto;
float:right;
line-height:30px;		
}
.butten-center
{
	    margin-top: 20px;
	text-align:center;
}
/*headings*/
.fs-title {
font-size: 15px;
text-transform: uppercase;
color: #000;
margin-bottom: 10px;
}
.fs-subtitle {
font-weight: normal;
    font-size: 17px;
    color: #000;
    margin-bottom: 20px;
    padding: 0px 60px;
}
/*progressbar*/
#progressbar {
margin-bottom: 0px;
overflow: hidden;
/*CSS counters to number the steps*/
counter-reset: step;
}
#progressbar li {
list-style-type: none;
color: #7468f6;
text-transform: uppercase;
font-size: 9px;
width: 33.33%;
float: left;
position: relative;
text-align:center;
}
#progressbar li:before {
content: counter(step);
counter-increment: step;
width: 24px;
    line-height: 24px;
display: block;
font-size: 15px;
    font-weight: bold;
color: #7468f6;
background: white;
border-radius: 50%;
margin: 0 auto 5px auto;
z-index:999;
position:relative;
border:1px solid #7468f6; 

}
/*progressbar connectors*/
#progressbar li:after {
content: '';
width: 100%;
height: 2px;

position: absolute;
left: -50%;
top:12px;
    border: 1px dashed #7468f6;
z-index: 1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
/*connector not needed before the first step*/
content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
background: #7468f6;
color: white;
border-radius: 50%;
}


.inner-progress-sec
{
	margin-bottom:20px;
}

.inner-progress-sec ul {
margin-bottom: 0px;
overflow: hidden;
/*CSS counters to number the steps*/

}
.inner-progress-sec ul li {
	
list-style-type: none;
color: #7468f6;
text-transform: uppercase;
font-size: 17px;
width: 16.33%;

position: relative;
text-align:center;
    display: inline-block;
}
.inner-progress-sec ul li:before {
content:'';
    width: 19px;
    line-height: 24px;
    height: 19px;
display: block;
font-size: 15px;
    font-weight: bold;
color: #7468f6;
background: white;
border-radius: 50%;
margin: 0 auto 5px auto;
z-index:999;
position:relative;
border:1px solid #7468f6; 

}
/*progressbar connectors*/
.inner-progress-sec ul li:after {
content: '';
width: 100%;
height: 2px;

position: absolute;
left: -50%;
top: 8px;
    border: 1px solid #7468f6;
z-index: 1; /*put it behind the numbers*/
}
.inner-progress-sec ul li:first-child:after {
/*connector not needed before the first step*/
content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.inner-progress-sec ul li.active:before{
background: #7468f6;
color: white;
border-radius: 50%;
width: 24px;
    line-height: 24px;
    height: 24px;
}
.inner-progress-sec ul li.active:after{
    top: 13px;	
}

.inner-sec-form
{
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	background:#fff;
	width:100%;
	float:left;
	    padding: 20px 20px 30px;
		margin-bottom:20px;
		position:relative;
		    overflow: hidden;
}
.top-label 
{
	padding-top: 20px;
       right: -42px;
    text-align: center;
-ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari */
  transform: rotate(45deg); /* Standard syntax */
  background: #447cf2; /* Old browsers */
background: -moz-linear-gradient(left,  #447cf2 0%, #2989d8 37%, #7169f6 60%, #7169f6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #447cf2 0%,#2989d8 37%,#7169f6 60%,#7169f6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #447cf2 0%,#2989d8 37%,#7169f6 60%,#7169f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#447cf2', endColorstr='#7169f6',GradientType=1 ); /* IE6-9 */
position: absolute;
    top: -16px;
    height: 63px;
    width: 136px;
}
.top-label h4
{
	    color: #fff;
    font-size: 16px;
    margin-left: 21px;
}
.pro-imag
{
	margin-top:45px;
}
.inner-sec-form h3
{
color:#447cf2;	
}
.right-site-data h4 
{
	text-align:left;
	    color: #000;
}
.right-site-data p 
{
	text-align:left
}
.unorder-list-data ul li
{
	width: 33.333%;
    float: left;
	list-style:none;
	text-align:center;
}
.unorder-list-data ul li p
{
	text-align:center;
}
.unorder-list-data ul li .fa-star
{
	background:#447cf2;
	color:#fff;
	    border-radius: 50%;
    padding: 7px;
}
.switch {
  position: relative;
  display: inline-block;
      width: 50px;
    height: 25px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
 height: 19px;
    width: 19px;
    left: 0px;
    bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.previous .action-button .base {
	
}
.form-group p {
    font-size: 9px;
}
input#password {
   
}

.make-it-special-box
{
	background:#0680f2;
	padding: 20px;
	border-radius:4px;
	box-shadow: 0px 2px 2px #ccc;
}

.make-it-special-box .camp-h3
{
color:#fff;	
font-size: 20px;
margin: 0px;
}

.make-it-special-box p.spec-ideas
{
	color:#fff;
}
.make-it-special-box .camp-form-speacial
{
border:0px;	
padding: 30px;
text-align:center;
}
.make-it-special-box .camp-form-speacial label
{
	color: #fff;
font-size: 20px;
text-align: center;
display: block;
width: 100%;
	padding: 0px 20px;
}
.make-it-special-box .camp-form-speacial textarea
{
	height: 41px;
}
.make-it-special-box .sbmt-btn
{
background: #7569f7;
color: #fff;
padding: 12px 55px;
font-weight: normal;
letter-spacing: 1px;
margin-top: 30px;	
}

.goal-box-outer
{
	box-shadow: 0px 2px 9px #ccc;
width: 100%;
padding: 41px 20px;
border-radius: 8px;
}
.camp-current-goal {
    font-size: 22px;
    text-align: center;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.fc.fcw {
    width: 100%;
}

.user-profile-section
{
width:100%;
background: url('http://nitro.woorockets.com/niche-00/wp-content/uploads/2016/02/bg-mask.jpg');
background-size: cover;
    padding: 60px 0px 40px;

}

.pro-image img
{
	border-radius:50%;
	border:1px solid blue;
	width:200px;
	height:200px;
}

.pro-name h2
{
    color: #fff;
    font-size: 20px;
    margin: 0px;
    line-height: 46px;
}

.pro-name h1
{
color: #fff;
    font-size: 30px;
    margin: 0px;
    line-height: 51px;
}
.three-boxes
{
	margin-top:30px;
}
.three-boxes ul li
{
	display: inline-block;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    color: #000;
    padding: 0px 0px;
    margin-right: 40px;
    text-align: center;
    width: 18%;
}
.three-boxes ul li:last-child
{
	 margin-right: 0px;
}
.popup-form
{
	position: fixed;
    top: 0px;
    background: rgba(0,0,0,0.8);
    z-index: 99;
    width: 100%;
   height:100%;
   padding-top:100px;
   overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.inner-popup-box
{
max-width: 700px;
    width: 100%;
    margin: 0px auto;
    background: #fff;
position:relative;
    border-radius: 5px;	
}

.popup-form .select2.select2-container
{
	z-index:99999999999;
}

.arm_template_wrapper.arm_template_wrapper_profiletemplate1 .arm_template_container {
    max-width: 100% !important;
}

.arm_form_edit_profile  
{
	box-shadow:0px 2px 5px #ccc;
	width: 800px !important;
}

.arm_form_inner_container
{
	width:400px;
	margin:0px auto;
	max-width:100%;
}

.stripe-card-group
{
	width:100%;
}
#stripe-exp-element
{
	width:100%;
}

#stripe-cvc-element
{
	width:100%;
}
.inner-popup-box .close-r-icons
{
	    position: absolute;
    z-index: 99999;
    right: 5px;
    top: 10px;
    font-size: 22px;
	cursor:pointer;
}

.inner-popup-box .ipt-eform-content 
{
	border-radius:5px;
}







.arm_msg_pos_bottom span.arm_form_field_label_wrapper_text {
    font-size: 33px !important;
}
.arm_msg_pos_bottom input#input_1 {
  margin-bottom: 12px !important;
    padding: 20px !important;
    background: #ffffff !important;
    border-radius: 15px !important;
    box-shadow: 0px 0px 12px 0px #dadada !important;
    border-bottom: none !important;
}
.arm_form_inner_container.arm_msg_pos_bottom {
    box-shadow: 0px 0px 8px 0px #dcdcdc;
    margin-top: -64px !important;
}
.arm_msg_pos_bottom input#input_2 {
    padding: 20px !important;
  margin-bottom: 12px !important;
    background: #ffffff !important;
border-radius: 15px !important;
    box-shadow: 0px 0px 12px 0px #dadada !important;
    border-bottom: none !important;
}
.arm_msg_pos_bottom input#input_5 {
 margin-bottom: 12px !important;
  padding: 20px !important;
    background: #ffffff !important;
   border-radius: 15px !important;
    box-shadow: 0px 0px 12px 0px #dadada !important;
    border-bottom: none !important;
}
.arm_msg_pos_bottom input#input_6 {
  margin-bottom: 12px !important;
    padding: 20px !important;
    background: #ffffff !important;
   border-radius: 15px !important;
    box-shadow: 0px 0px 12px 0px #dadada !important;
    border-bottom: none !important;
}
.arm_msg_pos_bottom input#input_7 {
  margin-bottom: 12px !important;
    padding: 20px !important;
    background: #ffffff !important;
   border-radius: 15px !important;
    box-shadow: 0px 0px 12px 0px #dadada !important;
    border-bottom: none !important;
}
.arm_msg_pos_bottom input#input_4 {
  margin-bottom: 12px !important;
    padding: 20px !important;
    background: #ffffff !important;
   border-radius: 15px !important;
    box-shadow: 0px 0px 12px 0px #dadada !important;
    border-bottom: none !important;
}
.arm_msg_pos_bottom input#input_3 {
  margin-bottom: 12px !important;  
  padding: 20px !important;
    background: #ffffff !important;
border-radius: 15px !important;
    box-shadow: 0px 0px 12px 0px #dadada !important;
    border-bottom: none !important;
}

.arm_msg_pos_bottom input#input_0 {
 margin-bottom: 12px !important;
  padding: 20px !important;
    background: #ffffff !important;
   border-radius: 15px !important;
    box-shadow: 0px 0px 12px 0px #dadada !important;
    border-bottom: none !important;
}
.arm_template_wrapper_profiletemplate1 .arm_profile_picture_block_inner {
float: none !important;
width: 100% !important;
padding: 20px 40px !important;
height: 280px !important;
max-width: 1100px !important;
margin: 0px auto !important;
}
.arm_user_avatar{position:relative !important}
.arm_template_wrapper_profiletemplate1 .arm_user_avatar .arm_cover_upload_container {
    left: 17px !important;
    right: 0 !important;
    top: 54px !important;
}
.arm_profile_header_info a {
    color: #fff !important;
      font-size: 34px !important;
}
.arm_view_profile_link_container a.arm_view_profile_link {
    display: none;
}
.arm_msg_pos_bottom label {
    font-size: 20px !important;
}

.page .container > .page-content {
    margin-top: 35px !important;
}