@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
body {
    margin: 0;
}
a {
   text-decoration: none;
}
.header-outer {
    display: flex;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;    
    font-family: 'Poppins', sans-serif;
}
.header .section-1 .container {
	justify-content: space-between;
}
.header {
    width: 100%;
}
.header .header-logo {
	padding-left: 30px;
}
.header .hb-section-outer {
	height: 80px;
}
.header .hb-section-outer .sticky-row .hb-section {
	box-shadow: 0 5px 10px rgba(5, 2, 34, 0.05) !important;
}
.header .sticky-row .container {
	height: 100%;
}
.header .sticky-row-scroll .section-1 .site-navigator > li > .menu-item-link {
    text-decoration: none;
}
.header .hb-s1i3 .site-navigator > .menu-item:last-child > .menu-item-link {
    padding-right: 0;    
}
.header .element-item.hb-s1i3 {
	margin-right: 30px;
}
.first-screen {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: calc(100vh - 80px);
    background: #fff;
    overflow: hidden;
    position: relative;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin-left: 0;
}
.first-screen-bg {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    right: 0;
    bottom: 0;
    padding-left: 100px;
    overflow: hidden;
    /*width: 64%;*/
    max-width: 1200px;
}

.first-screen-new {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100vh;
    background: #fff;
    overflow: hidden;
    position: relative;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    width: 100vw;
    margin-top: -60px;
}
.first-screen-new-bg {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    right: 0;
    bottom: 0;
    padding-left: 100px;
    overflow: hidden;
    /*width: 64%;*/
    max-width: 100vw;
    padding: 0;
    margin: 0;
}
.blue-circle {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: linear-gradient(270deg, #7569F7 0%, #0680F2 100%);
    width: 1164px;
    height: 1164px;
    position: absolute;
    margin-left: 243px;
    margin-top: -330px;
}
.grey-circle {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: linear-gradient(270deg, #7569F7 0%, #0680F2 100%);
    opacity: 0.1;
    width: 1164px;
    height: 1164px;
    position: absolute;
    margin-top: 195px;
    margin-left: -30px;
}
.pic-wrap-new {
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(117,105,247,0.3) 0%, rgba(6,128,242,0.3) 100%);
}
.pic-wrap-bg-new img {
    width: 100vw;
    background: radial-gradient(circle, rgba(117,105,247,0.3) 0%, rgba(6,128,242,0.3) 100%);
}
.pic-wrap-new img {
    position: absolute;
    right: 0;
    max-width: 75%;
    height: auto;
    min-height: 100%;
}

.pic-wrap {
    width: 100%;
    height: 100%;
}
.pic-wrap img {
    position: absolute;
    bottom: -10px;
    top: -10px;
    right: 0;
    width: auto;
    max-width: none;
    height: auto;
    min-height: 100%;
    height: 102vh;
}
.first-screen-caption {
    color: #333;
    z-index: 10;
    position: absolute;
    top: 50%;
    margin-top: -188px;
    /*margin-left: 24%;*/
    margin-left: 15%;
}

.first-screen-caption-new {
    color: #333;
    z-index: 10;
    position: absolute;
    top: 50%;
    margin-top: -188px;
    /*margin-left: 24%;*/
    margin-left: 15%;
}
.first-screen .container .vc_column-inner  {
	padding: 0;
}
.first-screen .container {
	padding: 0;
}
.first-screen-caption h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    margin-top: 0 !important;
    margin-bottom: 20px !important;
    color: #333;
}
.first-screen-caption h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    margin: 0 !important;
    margin-bottom: 32px !important;
    color: #333;
}
.first-screen-caption a {
    cursor: pointer;
    display: block;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background: linear-gradient(270deg, #713FFF -14.29%, #00A6FF 100%);
    box-shadow: 0px 5px 10px rgba(5, 2, 34, 0.1);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    width: 385px;
    line-height: 80px;
}

.login-btns .login-btn {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 16px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    background: #FAF9FF;
    color: #7569F7 !important;
    margin-right: 21px;
}
.login-btns .login-btn>a>span.menu_title {
	color: #7569F7 !important;
}
.login-btns .signup-btn {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 16px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    background: #7569F7;
    color: #fff;
    box-shadow: 0px 1px 2px rgba(117, 105, 247, 0.3);
      
}
.login-btns .signup-btn>a>span.menu_title {
	color: #fff !important;
}
.header .hb-s1i3 .site-navigator > .signup-btn > .menu-item-link {
	padding-right: 10px !important;
}
.header .clear:before, .header .clear:after {
	display: none;
}

.home-heading
{
    top: 30vh;
    text-shadow: 0px 4px 4px rgba(25,25,25,0.3);
}


/*First Screen Form*/


.first_scr_form_wrapper
{
    position: relative;
top: -30vh;
max-width: 60vw;
margin-left: 20vw;
border-radius: 7px;
max-width: 1900px;
min-width: 200px;
width: 60vw;
padding-left: 2%;
padding-right: 2%;
background: #fff;
box-shadow: 0px 4px 4px rgba(25,25,25,0.3);
padding-top: 3vh;
    
}

.form-control-frs-scr
{
    
}

/* form starting stylings ------------------------------- */
.first_scr_form_wrapper .group 	 { 
    position:relative; 
    float: left;
    margin: 10px;
    margin-right: 10px;
    max-width: 150px;
    margin-right: 150px;

}
.first_scr_form_wrapper input 
{
  font-size:16px;
  padding:10px 10px 10px 5px;
  display:block;
  width:inherit;
  border:none;
  border-bottom:1px solid #757575;
}
.first_scr_form_wrapper input:focus 		{ outline:none; }

/* LABEL ======================================= */
.first_scr_form_wrapper label 				 {
  color:#999; 
  font-size:16px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.first_scr_form_wrapper input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.first_scr_form_wrapper .bar 	{ position:relative; display:block; width:300px; }
.first_scr_form_wrapper .bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.first_scr_form_wrapper .bar:before {
  left:50%;
}
.first_scr_form_wrapper .bar:after {
  right:50%; 
}

/* active state */
.first_scr_form_wrapper input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.first_scr_form_wrapper .highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.first_scr_form_wrapper input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

.first_scr_form_wrapper .select {
  font-family:
    'Roboto','Helvetica','Arial',sans-serif;
	position: relative;
	width: 100%;
    float: left;
    margin: 10px;
    max-width: 200px;
}

.first_scr_form_wrapper .select-text {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: inherit;
	padding: 10px 10px 10px 0;
	font-size: 16px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.12);
}

/* Remove focus */
.first_scr_form_wrapper .select-text:focus {
	outline: none;
	border-bottom: 1px solid rgba(0,0,0, 0);
}

	/* Use custom arrow */
.first_scr_form_wrapper .select .select-text {
	appearance: none;
	-webkit-appearance:none
}

.first_scr_form_wrapper .select:after {
	position: absolute;
	top: 18px;
	right: 10px;
	/* Styling the down arrow */
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.12);
	pointer-events: none;
}


/* LABEL ======================================= */
.first_scr_form_wrapper .select-label {
	color: rgba(0,0,0, 0.26);
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	transition: 0.2s ease all;
}

/* active state */
.first_scr_form_wrapper .select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
	color: #2F80ED;
	top: -20px;
	transition: 0.2s ease all;
	font-size: 14px;
}

/* BOTTOM BARS ================================= */
.first_scr_form_wrapper .select-bar {
	position: relative;
	display: block;
	width: 350px;
}

.first_scr_form_wrapper .select-bar:before, .select-bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #2F80ED;
	transition: 0.2s ease all;
}

.first_scr_form_wrapper .select-bar:before {
	left: 50%;
}

.select-bar:after {
	right: 50%;
}

/* active state */
.first_scr_form_wrapper .select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
	width: 50%;
}

/* HIGHLIGHTER ================================== */
.first_scr_form_wrapper .select-highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}
.first_scr_form_wrapper .field_holder   
{
    width: 70%;
    position: relative;
    max-width: 70%;
    padding-top: 7vh;
    float: left;
    margin-bottom: 5vh;
    padding-bottom: 10vh;
}
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.first_scr_form_wrapper .submit-btn {

    width: 40vh;
    height: 40px;
    top: 2vh;
    margin: auto;
    margin-bottom: auto;
    margin-bottom: 1.5rem;
    display: block;
    border-radius: 20px;
    color: white;
    border-color: blueviolet;
    background: linear-gradient(90deg,rgb(117,105,247) 0%,rgb(6,128,242) 100%);
    font-family: inherit;
    font-size: 18px;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;

 }




/*campaign*/
.campaign-first-scr {
    font-family: "Poppins";
    padding-top: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: calc(100vh - 80px);
    color: #333;
    /* width: calc(100vw - 45px); */
    line-height: normal;
}
.campaign-first-scr:first-child {
    padding-top: 0;
    margin-top: -40px;
}
/* .campaign-first-scr .container-last {
    background-color: #0680f2;
    padding: 10px;
} */
.campaign-first-scr .custom-camp-gist-1 {
    color: #fff;
    margin-bottom: 13vh;
    margin-top: 20vh;
    
}
.campaign-first-scr .custom-camp-gist-2 {

}

.search .container {
    max-width: 1170px; 
}
.search-input-group {
    background-color: rgb(6,128,242);
    padding: 25px 40px;
}

.wrap-input-group {
    flex: 1 1 auto;
       width: 1%;
    margin-bottom: 0;
    position: relative;
    margin-left: 30px;
    align-items: center;
    display: flex;
}
.search-input-group .nav-tabs {
    border: none;
}

.search-input-group .nav-link {
    margin: 0 30px;     
        border-radius: 5px;
            font-size: 18px;         
            text-transform: uppercase;            
            font-weight: 500;
            height: 41px; 
            line-height: 41px; 
            border-width: 1px;
            border-style: solid;
            display: flex;
            padding: 0 40px;
            color: #fff;
            border-color:#fff;  
}
.search-input-group .nav-link:hover,
.search-input-group .nav-link.active {
    color: rgb(6,128,242);
    border-color: rgb(6,128,242);
    background-color: #fff;
}
.search-input-group .nav-tabs .nav-item {
    margin-bottom: 0;
}
body input:not([type="submit"]):not([type="button"]):not(.submit):not(.button):not(.extenal-bdcl),
.search-input-group input.form-control {   
    border: 1px solid rgb(220, 220, 220);
    border-color: rgb(220, 220, 220) !important;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
    height: 41px;    
  }
  .search-input-group .input-group-addon {
      position: absolute;
      right: 15px;
  }
  .list-ncahoots,
.list-people {
    overflow-y: scroll;
    height: 650px;
    margin-top: 15px;
    padding-top: 20px;
}

.list-ncahoots-item {
    padding: 30px 15px;
      border:1px solid rgb(220, 220, 220);       
        background-color: rgb(255, 255, 255);
        box-shadow: 4.95px 4.95px 5.16px 0.84px rgba(22, 25, 35, 0.2);
        margin-bottom: 10px;
        margin-right: 15px !important;  
}
.ava {
    display: flex;
    justify-content: center;

}
.ava img {   
    object-fit: cover;
    object-position: center;    
    border: 1px solid rgb(6,128,242);
    border-radius: 50%;
    width: 100px;
    max-width: 100px;
    height: 100px;
}

.list-ncahoots .progress {
    display: flex;
    height: 33px;
    overflow: visible;    
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgb(6,128,242);
    font-size: 18px;
    position: relative;
    margin-top: 25px;
}

.list-ncahoots .progress-bar {
    background-color:rgb(6,128,242);
}
.list-ncahoots .progress span {
    position: absolute;
    top: -25px; 
    color: rgb(6,128,242);
        font-size: 18px;      
        
}
.list-ncahoots .progress span.collected {
    right: 0;
}
.list-ncahoots a {   
        font-size: 18px;       
        color: rgb(117, 105, 247);
        text-transform: uppercase;       
            border-width: 1px;
            border-color: rgb(117, 105, 247);
            border-style: solid;
            border-radius: 15px;
            background-color: rgb(255, 255, 255);
            height: 34px;
            line-height: 34px;
            padding: 0 40px;
            text-decoration: none;
}

.list-ncahoots a:hover {
    color: #fff;
    background-color: rgb(117, 105, 247);
}
.list-ncahoots a.contribute {
    padding: 0 10px;
    color: #fff;
    background-color: rgb(117, 105, 247);
}
.list-ncahoots a.contribute:hover {
    color: rgb(117, 105, 247);
    background-color: #fff;
}
.buttons-group {
    display: flex;
   align-items: flex-end;
   justify-content: flex-end;
}
.buttons-group a {
    margin-left: 40px;
}
.list-ncahoots-item h5 {   
        font-size: 30px;      
        color: #353535;
        line-height: 1.2;
        margin: 0;
        
      
}
.list-ncahoots-item h5 .name {
    color: rgb(6,128,242);
}
.started {   
        font-size: 12px;   
        color: #353535;
        line-height: 1;
}
.started span {
    color: rgb(6,128,242);
}
.days {
    display: flex;   
    justify-content: flex-end;
}
.days p {   
    color: #353535;
        font-size: 24px;       
        line-height: 1;
}
.days b.red {
    color: rgb(213, 69, 40);
}
/* ********************************** */ 
.list-people .ava {
    margin-bottom: 40px;
}

.list-people  h5 {
        font-size: 36px;
        color: rgb(6,128,242);
        line-height: 1.333;
        margin-bottom: 0;
}

.list-people p{
        font-size: 18px;      
        color: #666666;      
        text-transform: uppercase;
        margin-bottom: 0;
}
.list-people::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    
}
.list-people::-webkit-scrollbar-thumb {   
    background-color: #DCDCDC;
}
.list-people::-webkit-scrollbar-track {   
    background-color: transparent;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}

.list-people-item {
      padding: 30px 15px;
      border:1px solid rgb(220, 220, 220);       
        background-color: rgb(255, 255, 255);
        box-shadow: 4.95px 4.95px 5.16px 0.84px rgba(22, 25, 35, 0.2);        
        /* height: 198px; */
        margin-bottom: 10px;
        margin-right: 15px !important;      
      
}
.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}
.button-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
.button-group button {   
        border:1px solid#7569F7;
        border-radius: 15px;
        height: 33px;
        background-color: transparent;      
            font-size: 14px;         
            color: #7569F7;
            padding-left: 30px;
            padding-right: 30px;
            margin-top: 75px;
  }
  .button-group button:hover {
      background-color: #7569F7;
      color: #fff;
  }
.button-group .start-ncahoots {
      background-color: #7569F7;
      color: #fff;
  }
  .button-group .start-ncahoots:hover {
    color: #7569F7;
    background-color: #fff;
  }
  
@media (min-width: 576px) {
    .campaign-first-scr>.container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .campaign-first-scr>.container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .campaign-first-scr>.container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .campaign-first-scr>.container {
        max-width: 1140px;
    }
}
.custom-campaign h1.campaign-title {
    text-align: left;
    /* color: #0680f2; */
    color: rgb(17, 17, 17);
    font-weight: 700;
    padding-bottom: 50px;
    line-height:1.2;
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 65px;
}
.custom-campaign h1.campaign-title span {
    color:rgb(6,128,242);
}
.campaign-img-wrap img {
    max-width: 100%;
    margin-bottom: 30px;
}
.campaign-desc-title {
    margin-bottom: 10px;
    font-size: 18px;
}
.campaign-desc-cont {
    font-size: 18px;
}
.campaign-data-tit {
    font-size: 20px;
    color: #000;
    line-height: 36px;
    text-transform: uppercase;
    line-height: 85px;
}
.campaign-data-tit p {
    margin-bottom: 0;
}
.campaign-data-val {
    font-size: 20px;
    color: #0680f2;
    text-transform: uppercase;
    line-height: 85px;
    font-weight: 500;
    
}
.campaign-data-val p {
    margin-bottom: 0;
}

.camp-progress-bar {
    width: 100%;
    height: 46px;
    border: 2px solid rgb(6, 128, 242);    
    border-radius: 20px;
    position: relative;    
    margin: 0 auto;
   overflow: hidden;
      
}
.camp-bar {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;   
    background-color: rgb(6, 128, 242);    
    transition: width 1s linear; 
}
.camp-lbl-collected {
    position: absolute;
   left: 50%;
    top: 50%;    
    width: 100px;    
    text-align: center;
    color: #333;
    font-size: 12px;
    font-style: italic;
    transform: translate(-50%, -50%);
    z-index: 100;
        font-size: 20px;      
        color: rgb(255, 255, 255);
        text-transform: uppercase;        
}
.camp-lbl-collected.val {
    left: 25%;
}
.camp-lbl-collected.goal {
    left: 75%;
}
.camp-lbl-collected span {
    display: block;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    /* margin-bottom: 2px; */
    line-height: 1;
    
}
.camp-lbl-collected span.amount {
    color: #fff;
}
.camp-lbl-collected span.camp-lbl-collected-goal {
    color: rgb(6,128,242);
}
.camp-lbl-rest {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    text-align: center;
    justify-content: center;
    transition: width 1s linear;
    -moz-transition: width 1s linear;
    -webkit-transition: width 1s linear;
    -o-transition: width 1s linear;
    color: #333;
    font-style: italic;
}
.camp-lbl-collected-rest {
    color: #7569f7;
}
.people-photo-wrap {
    display: flex;
    justify-content: flex-end;
}
.people-photo-item {
    overflow: hidden;
    width: 20%; 
    padding-left: 5%;
    text-align: center;
     /* width: 68px;
        height: 68px;  */
}
.complete p,
.raise p {
        font-size: 16px;      
        color: rgb(102, 102, 102);
        text-transform: uppercase;
        line-height: 30px;
        margin-bottom: 0;
}

.people-photo-item img {
    min-width: 100%;
    width: 100%;
    border-radius: 7px;
    border: 1px solid rgb(6, 128, 242);
    margin-bottom: 15px;
}
.people-title {
    font-size: 22px;
    font-weight: 500;
    /* color: #7569f7; */
    margin-bottom: 15px;
    margin-top: 25px;
}
.people-photo-wrap {
    /* border: 1px solid #333; */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 35px 0 0;
}
.people-title-count {
    color: rgb(6, 128, 242);
    padding-right: 35px;
    font-size: 30px;
    line-height: 1.2;
    text-align: right;
}
.people-count {
    text-align: center;
    font-size: 12px;
    color: rgb(102, 102, 102);
    line-height: 1.2;
}
.people-photo-item-name {
    color: rgb(102, 102, 102);
        line-height: 1.2;
    font-size: 12px;
    display: block;
}

.btn-cotrib {
    background-color: #7569f7;
    border-color: #7569f7;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    padding: 10px 30px;
}
.btn-cotrib:hover {
    background-color: #0680f2;
    border-color: #0680f2;
}
h2.camp-h2 {
    text-align: center;
    font-weight: 500;
    color: rgb(17, 17, 17);
    margin-bottom: 50px;
    font-size: 36px;      
    line-height: 1.2;
}
.camp-lead {
    font-size: 20px;
    text-align: center;
}
.camp-lead-bold {
    font-weight: 500;
}
.camp-lead:last-child {
    margin-bottom: 85px;
}
.camp-h3 {
    text-align: center;
    color: #7569f7;
}
.spec-ideas {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.camp-form-about {
    width: 100%;
    padding: 15% 10% 5% 10%;
    border: 1px solid #333;
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
}
.camp-form-about label {
    margin-bottom: 20px;    
        font-size: 24px;       
        color: rgb(254, 254, 254);
        line-height: 1.2;
        text-align: center;
}
.camp-form-about .form-group {
    margin-bottom: 55px;
}
.camp-form-about textarea {
    border: 1px solid rgb(117, 105, 247);
        border-radius: 7px;
        background-color: rgb(255, 255, 255);
        height: 48px;
}
.camp-form-about button {
        border-radius: 7px;
        box-shadow: 3.536px 3.536px 5px 0px rgba(0, 0, 0, 0.2);
        width: 210px;
        height: 55px;
}
.camp-form-about button:hover {
    height: 55px;
}
.sbmt-btn {
    /* background-color: #7569f7;
    border-color: #7569f7;
    padding: 5px 30px; */
    /* font-size: 18px; */
    font-weight: bold; 
    /* padding: 10px 50px; */
    border-radius: 5px 5px;
    border: none;
    background-color: #0680f2;
    text-transform: uppercase;
    -webkit-box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.43); -moz-box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.43); box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.43);
    /* box-shadow: 10px 9px 7px 0px rgba(199, 199, 199, 0.85);
    -moz-box-shadow: 10px 9px 7px 0px rgba(199, 199, 199, 0.85);
    -webkit-box-shadow: 10px 9px 7px 0px rgba(199, 199, 199, 0.85); */

    /* style="background-color: #6a5ef6; text-transform: uppercase; font-size: 18px; font-weight: bold; padding: 10px 50px;
border: none; -webkit-box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.43); -moz-box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.43); box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.43);" */
}
.sbmt-btn:hover {
    background-color: #0680f2;
    border-color: #0680f2;
}
.camp-curr-goal {
    font-size: 28px;
    text-align: center;
    margin-bottom: 35px;
}
.camp-curr-goal span {
    color: #7569f7;
    font-weight: 500;
}
.curr-gaol-img-wrap img {
    max-width: 100%;
}
.curr-goal-desc-title {
    font-weight: 500;
    margin-bottom: 10px;  
        font-size: 12px;   
        color: #666666;
        text-transform: uppercase;
        line-height: 1.2;
}
.curr-goal-desc-val { 
    margin-bottom: 20px;
        font-size: 14px;  
        color: #666666;
        line-height: 1.2;
}
.curr-goal-feature {  
    font-weight: 500;
    text-align: center;
        font-size: 12px;     
        color: rgb(17, 17, 17);
        text-transform: uppercase;
        line-height: 1.2;       
}
.camp-spec-steps {
    border-right: 1px solid #333;
    text-align: center;
}
.camp-spec-steps:last-child {
    border: none;
}
.camp-steps-tit {   
        font-size: 24px;       
        color: rgb(6, 128, 242);
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center; 
        margin-bottom: 20px;
}
.camp-steps-subtit {
    font-size: 14px;
    margin-bottom: 30px;

}
.form-check-steps, .form-check-other {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 50px;
}
.form-check-steps label {
    width: 60%;
    text-align: left;
    border-bottom: 1px solid #e8e8e8;
    line-height: 40px;
    display: block;
}
.form-check-steps input {
    position: relative;
}

.form-control.other-sum {
    border: none;
    border-radius: 0;
    
}
.form-check-other input{
    position: relative;
}

.form-check-steps input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
  }
  .form-check-label {
    position: relative;
    padding: 0 0 0 20px;
    cursor: pointer;
    display: flex;
    width: 60%;
    font-size: 14px;
    color: #000;
    line-height: 1.2;    
    font-weight: 500;
    border-bottom: 1px solid rgb(140,140,140);
    
  }
  
.form-control.other-sum,
.form-check.form-check-steps label {
        font-size: 14px;
        color: #000;
        line-height: 1.2;
        padding-left: 20px;
        font-weight: 500;
        border-bottom: 1px solid rgb(140, 140, 140);
}
label.form-check-other {
    top: 0 !important;
    justify-content: flex-end;
}


.radio input.form-check-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
  }
  .radio__text {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
  }
  .radio__text:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 16px;
    height: 16px;
    border: 1px solid rgb(6,128,242);
    border-radius: 50%;
    background: #FFF;
  }
  .radio__text:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgb(6,128,242);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
    opacity: 0;
    transition: .2s;
  }
  .radio input:checked + .radio__text:after {
    opacity: 1;
  }
  .radio input:focus + .radio__text:before {
    box-shadow: 0 0 0 3px rgba(6,128,242,.7);
  }

.other-sum {
    width: 60%;  
    box-sizing: border-box;
    height: 18px;
    width: 100px;
}
.sbmt-step-btn {
    width: 200px;
    height: 60px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.camp-second-step-stat {
    font-weight: 500;
    padding-bottom: 50%;
}
.camp-spec-steps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.camp-third-step-btns {
    width: 100%;
}
.camp-third-step-btns a {
    width: 228px;
    height: 44px;
    margin: 5px auto;
    box-sizing: border-box;
        font-size: 16px;       
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: center;
        outline-color: transparent;
        display: flex;
        align-items: center;
        justify-content:flex-start;
        border-radius: 0;
}
.camp-third-step-btns .facebook {
    background-color: #3B5998;
}

.camp-third-step-btns .email {
    background-color: #CD4646;
}
.camp-third-step-btns .whats_app {
    background-color: #40C351;
}
.camp-third-step-btns .telegram {
    background-color: #31B6F1;
}
.camp-third-step-btns .we_chat {
    background-color: #44AE4A;
}
.camp-third-step-btns span {
    margin-left: 10px;
}


.camp-third-step-link {
    width: 100%;
    margin-top: 50px;
}
.camp-third-step-link-title {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}
.camp-third-step-link-wrap {
    display: flex;
    justify-content: center;
    margin-bottom:15px;
}
.camp-third-step-link-wrap a {
    width: 145px;
    margin-left: 10px;
}
.camp-gist {
    font-size: 35px;
    text-align: center;
    margin-bottom: 150px;
}
.camp-gist-form {
    /* padding: 0 15%; */
    margin-bottom: 50px;
}

.camp-gist-form input {
    width: 47%;
    display: inline-block;
    height: 60px;
    margin-bottom: 40px;
}
.camp-gist-form button {
    margin: auto;
    display: block;
}
/* .camp-gist-form input:first-child {
    margin-right: 5%;
} */
h2.camp-h2-big-mrg {
    /* margin-bottom: 100px; */
}



@media (max-width: 1560px) {
	.first-screen-bg {
		width: 62%;
	}
}

@media (max-width: 1560px) and (min-height: 720px) {	
	.pic-wrap img {
		right: auto;
		left: 0;
	}
}
@media (min-width: 600px) and (max-height: 720px) {	
	.first-screen-bg {
		width: 100%;
	}
}
@media (max-width: 1560px) and (min-height: 720px) {	
	.pic-wrap img {
		right: auto;
		left: 0;
	}
}
@media (max-width: 600px) {	
	.pic-wrap img {
		right: auto;
		left: 0;
	}
	.first-screen-bg {
		width: 62%;
	}
}
@media (min-height: 1000px) {	
	.first-screen-bg {
		width: 100%;
		max-width: 100%;
	}
}
@media (max-width: 1560px) and (min-height: 720px) {	
	.pic-wrap img {
		right: auto;
		left: 0;
	}
}
@media (min-height: 1200px) {
    .campaign-first-scr {
        min-height: auto;
        margin-bottom: 70px;
    }
}
@media (max-width: 1120px) {
    .button-group button {       
        padding-left: 20px;
        padding-right: 20px;       
    }
    .campaign-data-tit {
        font-size: 18px;
        line-height: 26px;
    }
    .campaign-data-val {
        font-size: 20px;
        line-height: 26px;
    }
    .campaign-title {
        font-size: 30px;
    }
    .campaign-data-tit {
        font-size: 16px;
        line-height: 22px;
    }
    .campaign-data-val {
        font-size: 16px;
        line-height: 22px;
    }
    .campaign-desc-title {
        font-size: 16px;
    }
    .people-title {
        font-size: 20px;
    }
    .campaign-desc-cont {
        font-size: 16px;
    }
    .camp-lbl-collected span {
        font-size: 16px;
    }
    .camp-lbl-collected {
        width: 70px;
        margin-right: -35px;
    }
    h2.camp-h2 {
        font-size: 26px;
    }
    .camp-lead {
        font-size: 18px;
    }
    .camp-h3 {
        font-size: 24px;
    }
    .camp-curr-goal {
        font-size: 24px;
    }
    .camp-lead:last-child {
        margin-bottom: 50px;
    }
    .camp-gist {
        font-size: 26px;
    }
}
@media (max-width: 1050px) {
    h1.campaign-title {
        padding-bottom: 30px;
    }
    .camp-lbl-rest {
        font-size: 12px;
    }
    .camp-lbl-collected-rest {
        font-size: 16px;
    }
    .camp-progress-bar {
        margin-bottom: 80px;
        margin-top: 15px;
    }
    .people-title {
        font-size: 16px;
    }
    .people-photo-wrap {
        /* padding: 10px 20px; */
    }
}
@media (max-width: 992px) {
    .list-ncahoots a {
        font-size: 14px;
    }

    .list-ncahoots-item h5 {
        font-size: 25px;
    }
    h2.camp-h2-big-mrg {
        margin-top: 70px;
        margin-bottom: 50px;
    }
    .days p {        
        font-size: 16px;
    }
    .camp-spec-steps {
        border-right: none;
        border-bottom: 1px solid #333;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .camp-spec-steps:first-child {
        padding-top: 0;
    }
    .camp-second-step-stat {
        padding-bottom: 0;
        margin-bottom: 30px;
    }
    .camp-third-step-btns a {
        max-width: 280px;
    }
    .camp-third-step-link {
        margin: 30px 0;
    }
    .camp-gist {
        margin-bottom: 50px;
    }
    .camp-gist-form {
        padding: 0;
    }
    .wrap-input-group {       
        margin-left: 15px;        
    }
    .search-input-group .nav-link {
        margin: 0 15px;     
        padding: 0 20px;       
    }
    .search-input-group {       
        padding: 25px 15px;
    }
    .list-people h5 {
        font-size: 25px;
    }
    .button-group button {       
        font-size: 12px; 
        width: 100%;
    margin-top: 0;       
    }
    .button-group {        
        flex-wrap: wrap;
    }
}
@media (max-width: 768px) {
    .button-group button {
    margin-bottom: 15px;       
    }
    .list-people-item {
        margin-right: -15px !important;
    }
    .campaign-desc-cont {
        margin-bottom: 40px;
    }
    .camp-curr-goal {
        margin-bottom: 10px;
    }
    .curr-gaol-img-wrap {
        margin-bottom: 20px;
    }
    .curr-goal-feature {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .people-photo-wrap {        
        justify-content: space-between;
    }
    .people-photo-item {        
        padding-left: 0;
        width: 17%;
    }
    .campaign-first-scr {
        width: 100%;
    }
    .days,
    .buttons-group,
    .cont-item {
        padding-top: 25px;
    }
    .days {       
        justify-content: flex-start;
    }
    .buttons-group {
        justify-content: space-around;
    }
    .list-ncahoots-item {
        margin-right: -15px !important;
    }
    .buttons-group a {
        margin-left: 0px;
    }
}
@media (max-width: 700px) {
    .first-screen-caption {
        margin-top: 0;
        top: 80px;
        margin-left: 30px;
    }
    .first-screen-caption h1 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .first-screen-caption h2 {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 16px;
    }
    .first-screen-caption a {
        font-size: 14px;
        width: 300px;
        line-height: 60px;
    }
    .first-screen-bg {
        width: 100%;
        padding-left: 0;
    }
    .wrap-input-group {
        margin: 0 15px 15px;
        width: 100%;
    }
    .search-input-group .nav-tabs {
        width: 100%;
    justify-content: center;
    }
    .search-input-group .nav-tabs .nav-item {
        width: 100%;
        margin-bottom: 15px;
    }
}
@media (max-width: 470px) {
    
    .buttons-group {
        flex-direction: column;
        align-items: center;
    }
    .buttons-group a {
        margin: 15px 0;
    }
    .custom-campaign button.sbmt-step-btn-custom {
        max-width: 95%;
    }
    .people-photo-wrap {
        flex-wrap: wrap;
    }
    .people-photo-item {
        width: 45%;
    }
	.header .section-1 .container {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
	}
    header {
        height: 70px;
        padding: 0;
    }
    .header .hb-section-outer {
		height: 70px;
	}
    .header-logo {
        width: 40%;
    }
    .header-logo img {
        max-width: 100%;
    }
    .login-btns>a {
        padding: 7px 15px;
        font-size: 14px;
    }
    .login-btn {
        margin-right: 5px;
    }
    .first-screen-caption {
        margin-left: 10px;
        top: 40px;
    }
    .header .element-item.hb-s1i3 {
    	margin-right: 10px;
    	margin-left: 30px;
    }
    h1.campaign-title {
        padding-bottom: 20px;
        font-size: 24px;
    }
    .campaign-first-scr {
        padding: 0;
        padding-top: 20px;
        min-height: auto;
    }
    .camp-lbl-collected {
        margin-right: 0;
    }
    .btn-cotrib {
        margin-top: 30px;
    }
    .camp-gist {
        font-size: 16px;
    }
    .camp-gist-form input{
        display: block;
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
    }
    .camp-gist-form input:last-child {
        margin-bottom: 30px;
    }
    .camp-gist-form button {
        margin-top: 30px;
    }
    .camp-third-step-link-title {
        text-align: center;
        margin-bottom: 10px;
    }
    .camp-third-step-link-wrap {
        display: block;
    }
    .camp-third-step-link-wrap input {
        width: 80%;
        /* margin-left: 10%; */
        margin-bottom: 10px;
    }
}
.woocommerce-Price-amount {
    display: flex !important;
}

/*Custom*/
.custom-campaign-desc-title {
    margin-top:45px;
}
.camp-lbl-collected {
    font-style: normal;
    font-size: 16px;
}
.custom-camp-spec-steps .camp-spec-steps{
    padding: 55px 35px;
        border:1px solid rgb(229, 229, 229);
        background-color: rgb(255, 255, 255);
        box-shadow: 3.536px 3.536px 5px 0px rgba(0, 0, 0, 0.2);
}
.custom-camp-spec-steps button {
        font-size: 20px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        border-radius: 7px;       
        box-shadow: 3.536px 3.536px 5px 0px rgba(0, 0, 0, 0.2);   
        width: 210px;
        height: 55px;
        outline-color: transparent;
        font-weight: normal;
        letter-spacing: 1px;
}
.custom-campaign-first-scr .camp-spec-steps {
    border-right: 20px solid #7569f7;
}
.custom-campaign-first-scr .camp-spec-steps:last-child {
    border-right: none;
}
/* .custom-campaign-first-scr .camp-gist-form .form-control {
    height: 18%;
} */
.custom-campaign  .camp-curr-goal {
    margin-top: 40px;
    margin-bottom: 80px;
        font-size: 20px;   
        color: ##666666;
        text-transform: uppercase;
        line-height: 1.2;  
}
.custom-campaign  .spec-ideas {
    color:#fff;
}
.custom-campaign .people-title {
    text-align: right;
    color: rgb(17, 17, 17);
    line-height: 1.2;
    font-size: 20px;
    margin-top: 30px;
    text-transform: uppercase;
}
.custom-campaign .campaign-desc-title {
    font-weight: bold;
    text-transform: uppercase;
        font-size: 18px;        
        color: rgb(17, 17, 17);       
        line-height: 1.2;
}
.custom-campaign h1 {
    font-size: 36pt;
    color: #0680f2;
}
.custom-campaign .campaign-desc-cont p {
    font-size: 14px;
    padding-top: 35px;    
        color: rgb(102, 102, 102);
        line-height: 1.2;
}
.custom-campaign .camp-h3 {
    color:white;   
        font-size: 24px;  
        font-weight: 500;
        line-height: 1.2;
       text-align: center;   
       margin-top: 30px;   
}
.custom-campaign .spec-ideas {        
        color: rgb(254, 254, 254);
        line-height: 1.2;        
             font-weight: 300;
      
}
.custom-campaign .col-lg-5 {
    background-color: #0680f2; 
    border-radius: 10px; 
    /* box-shadow: 5px 5px #c6e3fc;  */
    box-shadow: 4px 4px rgba(120, 183, 247, 0.27);
    padding: 10px;
}
.custom-campaign .col-lg-6 {
    box-shadow: 4px 4px rgba(120, 183, 247, 0.27);
    border: 1px solid #c3c3c36e; 
    border-radius: 10px; 
    /* box-shadow: 5px 5px #c6e3fc; */
}
.custom-campaign .camp-form-about {
    border:none; 
    margin-bottom: 0;
}
.custom-campaign .camp-qst-about-label {
    color: #fff;
}
.custom-campaign  .camp-qst-about {
    color: #fff; 
    font-size: 22px; 
    font-weight: bold;
}
.custom-campaign button.sbmt-step-btn-custom {
    margin: 25px auto 45px;
        font-size: 20px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        font-weight: normal;
        border-radius: 7px;
        box-shadow: 3.536px 3.536px 5px 0px rgba(0, 0, 0, 0.2);
        width: 330px;
        height: 55px;
        letter-spacing: 1px;
}
.linked_product_feature {
    margin-top: 35px;
    margin-bottom: 70px;
}
.custom-pgi img, .custom-wp-post-image {
    border-radius: 10px;
    /* box-shadow: 5px 5px #c6e3fc; */
    box-shadow: 4px 4px rgba(120, 183, 247, 0.27);
    width: 100%;
}
.custom_compaign_info_block {
    border-radius: 10px;
    /* box-shadow: 5px 5px #c6e3fc; */
    box-shadow: 4px 4px rgba(120, 183, 247, 0.27);
    border: 1px solid rgb(232, 232, 232);
    padding:50px 25px 25px;
    margin-bottom: 15px;
    /* height: 72vh; */
}


.sbmt-step-btn-custom-mis, .sbmt-step-btn-custom-mis:hover {
    background-color: #7569f7;
    width: 210px;
    height: 57px;
    font-size: 20px;
    font-weight: normal;
}

.sbmt-step-btn-custom {
    width: 330px;
    height: 57px;
    background-image: linear-gradient(to right, #756af7 0%, #0780f3 100%);
    
}
.sbmt-step-btn-custom:hover { background-position: right center; }
.sbmt-step-btn-custom-3-steps {
    background-image: linear-gradient(to right, #756af7 0%, #0780f3 100%);
    margin: 30px 0 0;
}
.custom-campaign-first-scr-share-idea {
    padding-top: 80px;
    min-height: calc(100vh - 80px);
    height: auto;
    
}
.custom-campaign-first-scr-share-idea .container {
    height: 100vh;
}

.camp-third-step-link-wrap > .form-control {
    border: 1px solid #0680f2;
        border-radius: 7px;
        background-color: rgb(255, 255, 255);
        box-shadow: 3.536px 3.536px 5px 0px rgba(0, 0, 0, 0.2),inset 0px 3px 7px 0px rgba(0, 0, 0, 0.2);        
        width: 228px;
        height: 38px;
}
.camp-third-step-link > .camp-third-step-link-wrap  {
    margin: 0 40px 0 40px;
}
.sbmt-step-btn-custom-share-idea-devider {
    margin-top: 100px;
}
.sbmt-step-btn-custom-share-idea, .sbmt-step-btn-custom-share-idea:hover {
    color: #7569f7;
    background-color: #fff;
    /* width: 230px;
    height: 52px; */
    font-size: 24px;
    font-weight:normal;
}
.custom-campaign-first-scr-share-idea .camp-gist-form {
    text-align:center;
    width: 100%;
    margin: auto;
    
}
.custom-campaign-first-scr-share-idea .form-control {
    /* width: 30%; */
    margin: 20px 0;
}
/* background: linear-gradient(270deg, #7569F7 0%, #0680F2 100%); */


form.camp-gist-form input.form-control {  
        border-radius: 7px;       
        box-shadow: 3.536px 3.536px 5px 0px rgba(0, 0, 0, 0.2),inset 0px 3px 7px 0px rgba(0, 0, 0, 0.2); 
        border: none;      
        width: 100%;
        height: 50px;
        padding: 0 35px;
            font-size: 24px;
            color: rgb(153, 153, 153);
            line-height: 1.2;
}
form.camp-gist-form button {   
        border-radius: 7px;
        border:1px solid rgb(153, 153, 153);
        background-color: rgb(255, 255, 255);
        box-shadow: 3.536px 3.536px 5px 0px rgba(0, 0, 0, 0.2);        
        width: 228px;
        height: 48px;
        margin-top: 9vh;
}
body .wrapper-outer>.wrapper>.header-outer ~ div {
    padding: 0;
    width: 100%;
}
.single-product #shop-main {
    padding-left: 0;
    padding-right: 0;
}
.camp-second-step-desc {
        font-size: 18px;
        color: rgb(102, 102, 102);
        line-height: 1.2;
        text-align: center;
}
.campaign-first-scr .camp-lead {
        font-size: 18px;
        color: rgb(17, 17, 17);
        line-height: 1.2;
}
.campaign-first-scr .custom-campaign .col-lg-5 {
        border:1px solid rgb(232, 232, 232);
        border-radius: 7px;
        background-color: rgb(6, 128, 242);
        box-shadow: 3.536px 3.536px 4.5px 0.5px rgba(6, 128, 242, 0.2);
}
.campaign-first-scr.custom-campaign-first-scr.custom-campaign-first-scr-share-idea {
    background-color: #0680f2;

}

.progress .full-price{
    right: 0;
}

.progress .collected{
    right: inherit !important;
}

.progress .collected span{
    position: relative;
    top: 0px;
}







