@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
body {
    margin: 0;
}
a {
   text-decoration: none;
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 30px;
    background: #fff;
    z-index: 1;
    box-shadow: 0px 5px 10px rgba(5, 2, 34, 0.05);
    font-family: 'Poppins', sans-serif;
}
.login-btns {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-btns>a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 16px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
}
.login-btn {
    background: #FAF9FF;
    color: #7569F7;
    margin-right: 21px;
}
.signup-btn {
    background: #7569F7;
    color: #fff;
    box-shadow: 0px 1px 2px rgba(117, 105, 247, 0.3);
}
.first-screen {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    background: #fff;
    overflow: hidden;
    position: relative;
    font-family: 'Poppins', sans-serif;
}
.first-screen-bg {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    right: 0;
    bottom: 0;
    padding-left: 100px;
    overflow: hidden;
    margin-top: 80px;
    width: 64%;
    max-width: 1200px;
}
.blue-circle {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: linear-gradient(270deg, #7569F7 0%, #0680F2 100%);
    width: 1164px;
    height: 1164px;
    position: absolute;
    margin-left: 243px;
    margin-top: -330px;
}
.grey-circle {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: linear-gradient(270deg, #7569F7 0%, #0680F2 100%);
    opacity: 0.1;
    width: 1164px;
    height: 1164px;
    position: absolute;
    margin-top: 195px;
    margin-left: -30px;
}
.pic-wrap {
    width: 100%;
    height: 100%;
}
.pic-wrap img {
    position: absolute;
    bottom: -10px;
    top: -10px;
    left: 0;
    width: auto;
    height: auto;
    min-height: 100%;
}
.first-screen-caption {
    color: #333;
    z-index: 10;
    position: absolute;
    top: 50%;
    margin-top: -138px;
    margin-left: 25%;

}
.first-screen-caption h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    margin: 0;
    margin-bottom: 20px;
}
.first-screen-caption h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    margin: 0;
    margin-bottom: 32px;
}
.first-screen-caption a {
    cursor: pointer;
    display: block;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background: linear-gradient(270deg, #713FFF -14.29%, #00A6FF 100%);
    box-shadow: 0px 5px 10px rgba(5, 2, 34, 0.1);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    width: 385px;
    line-height: 80px;
}
@media (max-width: 1200px) {
    .first-screen-caption {
        margin-left: 15%;
    }
}
@media (max-width: 700px) {
    .first-screen-caption {
        margin-top: 0;
        top: 180px;
        margin-left: 30px;
    }
    .first-screen-caption h1 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .first-screen-caption h2 {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 16px;
    }
    .first-screen-caption a {
        font-size: 14px;
        width: 300px;
        line-height: 60px;
    }
    .first-screen-bg {
        width: 100%;
        padding-left: 0;
    }
}
@media (max-width: 470px) {
    header {
        padding: 0 10px;
        height: 70px;
    }
    .header-logo {
        width: 40%;
    }
    .header-logo img {
        max-width: 100%;
    }
    .login-btns>a {
        padding: 7px 15px;
        font-size: 12px;
    }
    .login-btn {
        margin-right: 5px;
    }
    .first-screen {
        padding-top: 70px;
    }
    .first-screen-bg {
        margin-top: 70px;
    }
    .first-screen-caption {
        margin-left: 10px;
        top: 120px;
    }
}
